# AI APIs
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=

# X API
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN_{ACCOUNT_ID}=dummy_access_token
X_ACCESS_TOKEN_SECRET_{ACCOUNT_ID}=dummy_access_secret

# Supabase
SUPABASE_URL=
SUPABASE_KEY=
